@use "../variables/colors";
@use "../variables/space";
@import "../mixins/navbar.scss";

footer {
  color: colors.$primary-color;
  margin-top: 30px;
  // padding: 20px;

  & .subscription-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: space.$regular-margin;

    & p {
      font-size: xx-large;
      font-weight: 900;
    }

    & .typing-text {
      font-size: 1em;
      font-weight: 600;
      max-width: fit-content;
      white-space: nowrap;
      overflow: hidden;
      letter-spacing: 1px;
      animation: typing 3s steps(40) infinite alternate, blinking 0.8s infinite;
      border-right: 1px solid colors.$primary-color;
    }

  }

  & form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // justify-content: center;

    & input {
      text-align: center;
      border: none;
      width: 30em;
      border-bottom: 1px solid colors.$primary-color;
      background-color: transparent;
      transition: width 1s linear;
      margin: 20px;
      color: colors.$primary-color;

      &:focus {
        outline: none;
        width: 40em;
        color: colors.$primary-color;
        // padding-left: 15px;
        // padding-right: 15px;
      }
    }

    & button {
      align-self: center;
      max-width: fit-content;
      padding: 20px 25px 26px;
      border-radius: space.$card-border-radius;
      background-color: colors.$dark-bg-color;
      color: colors.$primary-color;
      text-transform: uppercase;
      letter-spacing: 3px;
      // margin: 5px 0 0;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #ffa023;
        padding: 20px 35px 26px 35px;
      }
    }
  }

  & .footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // bottom: 0;
    @include navbar;
    padding-top: 40px;
    & .copyright {
      margin-left: 2.5em;
      text-transform: uppercase;
      font-size: 14px;
    }
    .social {
      color: colors.$primary-color;
      ul {
        list-style: none;
        display: flex;
        gap: 2em;
        & li a {
          color: colors.$primary-color;
          font-size: 15px;

          &:hover {
            color: colors.$active-link;
          }
        }
      }
    }
  }

  @media screen and (max-width: 33em) {
    width: 100%;
    
    a {
      font-weight: 300;
    }
    .footer-nav {
      align-items: center;
      flex-direction: column-reverse;
    } 
    .nav {
      align-items: center;
      display: flex;
      & li a {
        gap: .5em;
        font-weight: 200;
      }
    }
    .copyright {
      & p {
        font-size: 13px;
      }
    }
    
  }

  @media screen and (max-width: 49em) {
    width: 100%;
    
    a {
      font-weight: 300;
    }
    .footer-nav {
      align-items: center;
      flex-direction: column-reverse;
    } 
    .nav {
      align-items: center;
      display: flex;
      & li a {
        gap: .5em;
        font-weight: 200;
      }
    }
    .copyright {
      & p {
        font-size: 13px;
      }
    }
    
  }
}

@keyframes typing {
  0% {
    width: 0%;
  }

  100% {
    width: 32em;
  }
}

@keyframes blinking {
  0% {
    border-right: none;
  }

  50% {
    border-right: 1px solid colors.$primary-color;
  }
}

