@use "../variables/colors";
@use "../variables/fonts";
@import "../mixins/navbar.scss";

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin: 2em;
    padding: 0 13px;

    .navbar-brand {
        text-decoration: none;
        color: colors.$primary-color;
        font-family: fonts.$font-family-normal;
    }
    
    .header--navbar {
        @include navbar;
    }

    @media screen and (min-width:22em) {
        .header--navbar {
            visibility: collapse;
        }
    }

    @media screen and (min-width:39em) {
        .header--navbar {
            visibility: collapse;
        }
    }
    
    @media screen and (min-width:46em) {
        .header--navbar {
            visibility: visible;
        }
    }
    
}
