@use "../variables/space";

@use "../variables/colors";

@import "../mixins/postcards";

p {
    color: colors.$light-text-color;
}
.featured__article__grid {
    display: grid;
    grid-template-areas: 
    "card1 card1 card2 card3"
    "card1 card1 card2 card3"
    "card1 card1 card4 card5"
    "card1 card1 card4 card5";
    gap: 1em;
    padding: 50px;
    // padding-left: 30px;
    // padding-right: 30px;
}

@each $card in space.$cards {
    .article__postcard:nth-of-type(#{$card}) {
        grid-area: card#{$card};
        background-color: #b12d4e;
        @if (file-exists("../../images/card-#{$card}.jpg")) {
            background-image: url("./images/card-#{$card}.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: 20px;
        }
        & btn-light {
            border-radius: 20px;
        }  
        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            transition: ease-in-out;
        } 

        // & .article__postcard__content {
        //     // padding: 1em;
        // }

        @include postcard
    }
    

}

.article__postcard__large {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    // padding-left: 70px;
    // padding-right: 70px;
    article {
        // width: 800px;
        height: 400px;
        // background-color: rgb(153, 189, 88);
        background-image: url(./images/card-6.jpg);
        border-radius: space.$card-border-radius;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 5em;
    }
 
}
