// @use "components/header";
$primary-color: #fff;
$neutral-color: #cfcbca;

.hero {
    background-image: url('../src/images/hero-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    display: flex;
    align-items: center;
}

.hero__inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.hero__content {
    color: $primary-color;
    text-align: center;
}

.hero__title {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero__desc {
    font-size: 24px;
    margin-bottom: 40px;
}

.grid-col-span-2 {
    grid-column: span 2;
}

.article__featured__post {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.article__inner {
    position: relative;
    // width: 500px;
  }



.article__inner img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
  }

  .article__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $primary-color;
    width: 100%;
    text-align: center;
  }

//   .article__meta {
//     display: flex;
//     justify-content: end;
//     align-items: center;
//     margin-bottom: 10px;
//   }

//   .article__title a {
//     color: #fff;
//     text-decoration: none;
//   }

//   .article__excerpt {
//     font-size: 18px;
//     line-height: 1.4;
//     margin-bottom: 20px;
//   }

//   .author__author {
//     font-size: 16px;
//   }

  @media screen and (max-width: 768px) {
    .article__featured__post {
      grid-template-columns: 1fr;
    }
    .article__inner {
      margin-bottom: 30px;
    }
  }
